## Exoplanet Database Breakout Coding

*Python for Data Science Seminar (2018; UC Berkeley, Josh Bloom)*

There are now thousands of planets detected and cateorgized outside of our Solar System. These exoplanets show a huge diversity of properties.

In this breakout, we'll play with some of the current exoplanet data by creating, and populating an SQLite database.

### 1. Create an SQLite database to hold the information contained in the exoplanets CSV file

This CSV file ("exoplanet.eu_catalog.csv") was downloaded from http://exoplanet.eu/catalog/

In [1]:
import pandas as pd
df = pd.read_csv("exoplanet.eu_catalog.csv")

### 2. Now populate the database with information from the CSV file

Note: a Python None is the same as a Null in SQLite. You'll need to recast your data contained in a pandas dataframe like

```python
df = df.where(pd.notnull(df), None)
```

You'll want to the use questionmark style of inserts here to make sure that you're properly adding in the None values. See the example at https://docs.python.org/2/library/sqlite3.html#sqlite3.Cursor.execute

### 3. Query the database and plot the mass versus discovery year. Notice any trends?

In [55]:
%matplotlib inline
import matplotlib.pyplot as plt

### 4. (optional) Sketch out an example schema for a new DB which has three tables

One for the planet info (as above), one for the basic information about the star type that hosts the exoplanet (this will be instead of the `star_sp_type` in the original CSV), and one for the telescope/satellite 
used discovered the planet.